.main {
  /* layout */
  height: 751px;
  /* ui */
  background: #FFFFFF 0 0 no-repeat padding-box;
  opacity: 1;
  margin: 0 auto;
  display: flex;
  /* test */
  border: 1px solid red;
  color: #010A60;
}

/*# sourceMappingURL=MainLayout.module.css.map */
