.leadform {
  flex: 1;
  box-shadow: 0px 3px 16px #00000029;
  padding: 40px;
}
.leadform .control {
  height: 50px;
}
.leadform .control input {
  font-size: 18px;
  color: #707070;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid;
  padding: 0 0 5px 0;
  font-size: 18px;
}
.leadform .control input:focus {
  outline: none;
  border-bottom: 1px solid;
}
.leadform .control p {
  font-size: 12px;
  color: #ED6982;
  margin-top: 2px;
}
.leadform .h-md {
  font: normal normal 800 24px/44px Muli;
}
.leadform .p-md {
  font: normal normal normal 18px/59px Muli;
}

/*# sourceMappingURL=LeadForm.css.map */
