.h-lg
    text-align: left
    font-size: 40px
    letter-spacing: 0px
    font: normal normal 900 40px/58px Muli

.h-md
    text-align: left
    font: normal normal bold 25px/38px Muli
    letter-spacing: 0px
    font-size: 24px

.p-md
    text-align: left
    font: normal normal normal 18px/29px Muli
    letter-spacing: 0px
    font-size: 18px